/* CSS HEX /
--powder-blue: #b1bdddff;
--space-indigo: #29324fff;
--clay-soil: #734435ff;
--pearl-beige: #dbcba0ff;
--platinum: #f1f1f1ff; */

body {
    font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
}

h1 {
    font-family: 'Lora', Georgia, serif;
    background-color: #29324fff;
    color: #dbcba0ff;
    padding: 30px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #734435ff;
}

h3 {
    color: #29324fff;
}

article:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-azul {
    background-color: #29324fff;
    color: white;
}

.btn-azul:hover {
    background-color: #1d2338;
    color: #ffffff;
}

.navbar-celeste {
    background-color: #b1bdddff;
    padding:10px;
    margin-bottom: 25px;
}

.navbar-celeste .nav-link {
    color: #29324fff;
}

.navbar-celeste .nav-link:hover, .navbar-celeste .nav-link.active {
    color: #734435ff;
    font-weight: bold;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}



