body {
    font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
}

h1 {
    font-family: 'Lora', Georgia, serif;
    background-color: var(--space-indigo);
    color: var(--pearl-beige);
    padding: 30px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: var(--clay-soil);
}

h3 {
    color: var(--space-indigo);
}

article:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-azul {
    background-color: var(--space-indigo);
    color: white;
}

.btn-azul:hover {
    background-color: #1d2338;
    color: white;
}

.navbar-celeste {
    background-color: var(--powder-blue);
    padding:10px;
    margin-bottom: 25px;
}

.navbar-celeste .nav-link {
    color: var(--space-indigo);
}

.navbar-celeste .nav-link:hover, .navbar-celeste .nav-link.active {
    color: var(--clay-soil);
    font-weight: bold;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}



